---
import { getEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { slug } = Astro.params;
const post = await getEntry('blog', slug);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    <p>{post.data.date.toDateString()}</p>
    <article>
      {post.body}
    </article>
  </body>
</html>