---
// Footer.astro: Blog footer section
import { Icon } from "astro-icon/components";
---

<footer class="bg-black text-white py-5 sm:py-10">
	<div class="flex justify-center px-6 sm:px-20">
		<div class="flex justify-between items-center w-full max-w-[740px]">
			<a href="/">
				<span class="text-lg font-medium hover:text-gray-300 transition-colors"
					>Ringolds.dev</span
				>
			</a>

			<div class="flex items-center space-x-4">
				<a href="#" class="hover:text-gray-300">
					<Icon name="linkedin" size="24" />
				</a>
				<a href="#" class="hover:text-gray-300">
					<Icon name="github" size="24" />
				</a>
				<a href="#" class="hover:text-gray-300 ml-4">
					<Icon name="up-arrow" size="24" />
				</a>
			</div>
		</div>
	</div>
</footer>
