---
import slugify from "slugify";

const id = await Astro.slots.render("default").then((content) => {
	return slugify(content, { lower: true });
});
---

<h2 id={id}>
	<slot />
	<a href=`#${id}`>@</a>
</h2>
