<a href="/">
	<span
		class="text-md sm:text-lg font-bold hover:text-gray-300 transition-colors"
		>Ringolds</span
	><span
		class="text-md sm:text-lg font-regular hover:text-gray-300 transition-colors"
		>.dev</span
	>
</a>
