<a href="/">
	<span class="sm:text-md font-bold hover:text-gray-300 transition-colors"
		>Ringolds</span
	><span class="sm:text-md font-regular hover:text-gray-300 transition-colors"
		>.dev</span
	>
</a>
