---
// Navigation.astro: Navigation bar component

import { Icon } from "astro-icon/components";
import Logo from "./Logo.astro";
---

<div
	class="absolute top-0 left-0 right-0 flex justify-center text-white px-8 sm:px-20 h-22 sm:h-28 z-20"
>
	<nav class="flex justify-between items-center w-full max-w-screen-md">
		<Logo />
		<div class="flex justify-end">
			<!-- Desktop Navigation -->
			<div class="hidden md:flex items-center space-x-8">
				<!-- Icons with double spacing -->
				<div class="flex hidd items-center space-x-4 ml-8">
					<a href="#" class="hover:text-gray-300 transition-colors">
						<Icon name="linkedin" size="24" />
					</a>
					<a href="#" class="hover:text-gray-300 transition-colors">
						<Icon name="github" size="24" />
					</a>
				</div>
			</div>
			<button
				id="theme-btn"
				class="hover:text-gray-300 cursor-pointer transition-colors ml-12"
			>
				<Icon x-cloak hidden :hidden="isDarkMode" name="moon" size="24" />
				<Icon hidden :hidden="!isDarkMode" name="sun" size="24" />
			</button>
			<!-- Mobile Hamburger Button -->
			<button
				class="md:hidden text-white focus:outline-none ml-8"
				@click="mobileMenuOpen = true"
			>
				<Icon name="hamburger" size="24" />
			</button>
		</div>
	</nav>
</div>
