---
// Navigation.astro: Navigation bar component

import { Icon } from "astro-icon/components";
---

<div
	class="absolute top-0 left-0 right-0 flex justify-center text-white px-6 sm:px-20 h-16 sm:h-20 z-20"
>
	<nav class="flex justify-between items-center w-full max-w-screen-md">
		<div class="text-2xl font-bold">LOGO</div>
		<!-- Desktop Navigation -->
		<div class="hidden sm:flex items-center space-x-8">
			<a href="#" class="hover:text-gray-300">Blog</a>
			<a href="#" class="hover:text-gray-300">Snippets</a>
			<a href="#" class="hover:text-gray-300">Projects</a>
			<!-- Icons with double spacing -->
			<div class="flex items-center space-x-4 ml-8">
				<a href="#" class="hover:text-gray-300">
					<Icon name="linkedin" size="24" />
				</a>
				<a href="#" class="hover:text-gray-300">
					<Icon name="github" size="24" />
				</a>
			</div>
		</div>
		<!-- Mobile Hamburger Button -->
		<button
			class="sm:hidden text-white focus:outline-none"
			@click="mobileMenuOpen = true"
		>
			<Icon name="hamburger" size="24" />
		</button>
	</nav>
</div>
