---
// src/components/ParallaxTextOverlay.astro
export interface Props {
	text: string;
}

const { text } = Astro.props;
---

<div class="absolute inset-0 w-full h-full overflow-hidden -z-1">
	<div
		class="opacity-[5%] text-white text-[20vw] sm:text-[15vw] font-black font-display leading-[0.9] text-center uppercase absolute top-1/2 left-1/2 w-[150%] select-none"
		x-bind:style="`transform: translate(-50%, -50%) rotate(45deg) translateY(${scrollPosition * 0.6}px)`"
	>
		{text}
	</div>
</div>
