---
export interface Props {
	href: string;
	text: string;
	class?: string;
}
const { href, text, class: extraClass = "", ...rest } = Astro.props as Props;
---

<span
	class:list={[
		"px-4 py-2 rounded-full text-xs text-gray-300 bg-[hsl(0,0%,7%)] tag-pill select-none flex-shrink-0",
		extraClass,
	]}
	{...rest}
>
	{text}
</span>
