---
export interface Props {
	class?: string;
	[key: string]: any; // Rest parameter for additional props
}
const { class: extraClass = "", ...rest } = Astro.props as Props;
---

<div
	class={`flex flex-nowrap overflow-x-auto sm:flex-wrap sm:justify-center gap-2 pb-2 ${extraClass}`}
	{...rest}
>
	<slot />
</div>
