---
layout: index
---

{% set postslist = collections.post %} {% for post in postslist | reverse %}
<article class="mb-16">
  <h2 class="font-bold text-4xl text-gray-900 mb-2">
    <a href="{{ post.url | url }}">
      {% if post.data.title %} {{ post.data.title }} {% else %} Untitled {%
      endif %}
    </a>
  </h2>
  {% if post.data.description %}
  <p class="text-lg text-gray-800 mb-3">{{ post.data.description }}</p>
  {% endif %}

  <p>
    <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
      Read more →
    </a>
  </p>
</article>
{% endfor %}
