---
// BlogLayout.astro: Unified layout for blog post pages
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import MobileMenu from "@/components/MobileMenu.astro";
import NavigationPlaceholder from "@/components/NavigationPlaceholder.astro";

import "@/styles/global.css";
import BackgroundTextOverlay from "@/components/BackgroundTextOverlay.astro";

export interface Props {
	title: string;
	backgroundText: string | string[];
}
const { title, backgroundText } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
			.no-scroll {
				overflow: hidden;
			}
			[x-cloak] {
				display: none !important;
			}
		</style>
		<slot name="head" />
	</head>
	<body
		x-data="{ scrollPosition: 0, mobileMenuOpen: false }"
		@scroll.window="scrollPosition = window.scrollY"
		class="bg-[rgb(15,15,15)] h-full flex flex-col"
		:class="{ 'no-scroll': mobileMenuOpen }"
	>
		<script is:inline src="/scripts/toggle-theme.js"></script>

		<BackgroundTextOverlay text={backgroundText} slot="background" />
		<div class="flex-1 flex flex-col">
			<div class="relative w-full overflow-hidden z-0">
				<Navigation />
				<NavigationPlaceholder />
				<MobileMenu />
				<div class="sm:pt-10 pb-8 px-8 sm:px-20 text-white">
					<slot name="hero" />
				</div>
			</div>
			<div
				class="w-full lg:max-w-screen-md mx-auto bg-white dark:bg-[rgb(24,24,24)] text-black dark:text-[rgb(230,230,230)] p-8 sm:p-20"
			>
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>
