---
// BlogLayout.astro: Unified layout for blog post pages
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import MobileMenu from "@/components/MobileMenu.astro";
import NavigationPlaceholder from "@/components/NavigationPlaceholder.astro";
import ParallaxTextOverlay from "@/components/ParallaxTextOverlay.astro";

import "@/styles/global.css";

export interface Props {
	title: string;
	backgroundText: string | string[];
}
const { title, backgroundText } = Astro.props as Props;
---

<!doctype html>
<html
	x-data="{ isDarkMode: primaryColorScheme === 'dark' }"
	lang="en"
	class="h-full"
	:class="{ 'dark': primaryColorScheme === 'dark' }"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
			.no-scroll {
				overflow: hidden;
			}
			[x-cloak] {
				display: none !important;
			}
		</style>
		<slot name="head" />
		<script is:inline src="/scripts/toggle-theme.js"></script>
	</head>
	<body
		x-data="{ scrollPosition: 0, mobileMenuOpen: false }"
		@scroll.window="scrollPosition = window.scrollY"
		class="bg-[rgb(15,15,15)] h-full flex flex-col"
		:class="{ 'no-scroll': mobileMenuOpen }"
	>
		<div class="flex-1 flex flex-col">
			<div class="relative bg-black w-full sm:pb-40 overflow-hidden z-0">
				<Navigation />
				<NavigationPlaceholder />
				<ParallaxTextOverlay text={backgroundText} slot="background" />
				<div class="sm:pt-10 pb-8 px-8 sm:px-20 text-white">
					<slot name="hero" />
				</div>
			</div>
			<MobileMenu />
			<div class="flex-1">
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>
